header {
  font-family: 'Times New Roman', sans-serif;
  background-color: #09835e;
  color: #fbf9f9;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.terminologias {
  animation: slideDown 1.5s ease-out;
}

header h1, header h2 {
  color: white;
  font-size: 2.5rem;
  margin: 0;
}

nav.bg-primary {
  background-color: #09835e;
  color: #fbf9f9;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  width: 50px;
  transition: transform 0.3s;
}
.logo:hover {
  transform: rotate(15deg);
}

.logos {
  display: flex;
  justify-content: center;
  gap: 80px; 
  margin-top: 40px; 
  margin-bottom: 40px;
}

.logo-redondo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 5px #333;
}


.transition-btn {
  transition: background-color 0.3s;
}
.transition-btn:hover {
  background-color: #6d716e;
  color: #228eaa;
}



h2, h3 {
  color: #09835e;
}

footer p a {
  text-decoration: none;
  font-weight: bold;
}

.terminologias {
  text-align: center;
  margin: 40px auto;
}

.terminologias h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}



.estandar {
  position: relative;
  width: 150px;
}

.toggle {
  display: none;
}

.logo-label img {
  width: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.toggle:checked + .logo-label img {
  transform: translateY(-20px);
}

.articulos {
  display: none;
  margin-top: 10px;
  text-align: left;
  list-style: none;
  padding: 0;
}

.toggle:checked ~ .articulos {
  display: block;
}

.articulos li {
  margin: 5px 0;
}

.articulos a {
  color: #03c3c3;
  text-decoration: none;
  font-size: 0.9rem;
}

.articulos a:hover {
  text-decoration: underline;
}


main {
  flex: 1;
}


footer {
  background-color: #44474a2d;
  text-align: center;
  padding: 1rem;
}

.boton-contenido {
  background-color: #4CAF50; 
  color: white;
  border: none;
}

.boton-enviar {
  background-color: #4CAF50; 
  color: white;
  border: none;
}

